<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sach nguoi dung</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
</head>
<body>
    <div class="container">
        <h1>Danh sach nguoi dung</h1>
        <table class="table">
            <thead>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
            </thead>
            <tbody>
                <tr>
                    <td>Nguyen the anh</td>
                    <td>theanh@gmail.com</td>
                    <td>123456</td>
                </tr>
                <tr>
                    <td>Nguyen the anh</td>
                    <td>theanh@gmail.com</td>
                    <td>123456</td>
                </tr>
                <tr>
                    <td>Nguyen the anh</td>
                    <td>theanh@gmail.com</td>
                    <td>123456</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>